# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Fakultet\5. semestar\Programski prevodioci\Projekat\vuk-vukovic-9420rn-pp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
